@import "../../../src/styles/animations.scss";

.pharmacistGrid {
   grid-area: pharmacist;
   //animation: grow-in 0.4s cubic-bezier(.71,0,.33,1.56) ;
   transition: all 400ms var(--custom-curve-3); //cubic-bezier(.11,.64,.85,.46);
   // height: fit-content !important;
   // max-height: 100% !important;
   overflow: hidden;
   width: 100%;
   &:hover {
      transform: scale(0.99);
   }

   @starting-style {
      transform: translateY(5%) scale(0.97);
      opacity: 0.5;
   }
}

.incoming {
   @include slide-in-from-top-animation(200ms);
}

.outgoing {
   @include slide-out-to-top-animation(200ms);
}

.pharmacist-loading {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-gap: 1rem;
}
