@import "../../../src/styles/animations.scss";

:root {
   --border-style: 8px ridge whitesmoke;
   --gradient-background: linear-gradient(
      -20deg,
      rgb(98, 92, 214) 0%,
      rgb(50, 135, 193) 61%,
      rgba(26, 107, 228, 0.678) 100%
   );
   --box-shadow-style: 1px 1px 12px rgba(21, 129, 153, 0.697) !important;
}

.pharmacy_selection {
   z-index: 2;
   transition: transform 0.3s ease;
   overflow: hidden;
   background: var(--gradient-background);
   border: var(--border-style);
   border-radius: 0.3rem;
   position: relative;
   animation: grow-in 200ms cubic-bezier(0.63, -0.23, 0.53, 1);

   &:hover {
      transform: scale(0.99);
   }
}

.card_content {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));   
   font-size: 12px;
   line-height: 5px;
   font-family: monospace;
   text-shadow: 1px 1px 1px black;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);   

   div {
      border: 4px ridge whitesmoke;
      background: linear-gradient(rgba(122, 189, 237, 0.5) 0%, rgba(11, 33, 47, 0.5) 15%, rgba(0, 0, 0, 0.5));
      padding: 0.25rem;
      margin: 0.5rem;
      border-radius: 5px;    
      box-shadow: var(--box-shadow-style);  
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: start;

      label {         
         color: whitesmoke;
         // display: flex;
         padding: 0.5rem;
         border-radius: 3px;
         width: 100%;
         background: linear-gradient(rgba(230, 51, 129, 0.5), rgba(75, 75, 75, 0.5));
         text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);
      }
   }
}

.text-secondary {
   color: aqua;
}


.card_header {
   font-family: 'Fira Code';
   font-weight: bold;
   text-transform: uppercase;
   font-size: 16px;
   text-align: center;
   letter-spacing: 1.5px;
   //padding-left: 0.75rem;
   text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);
}

.pharmacy_card {
   position: absolute;
   top: 0;
   left: 0;
   color: whitesmoke !important;
   background: inherit;
   white-space: nowrap;
   box-shadow: var(--box-shadow-style);
   width: 100%;
   height: 100%;
   transition: 1s;
}

.outgoing {
   animation: slide-out-to-top 0.3s cubic-bezier(0.63, -0.23, 0.53, 1);
}

.incoming {
   animation: slide-in-from-bottom 0.4s cubic-bezier(0.04, 0.73, 0.77, 1.13);
}

// Media Queries
@media (min-width: 768px) {
   .pharmacy_selection {
      height: 375px;
      place-self: end;
      width: 100%;
      grid-area: pharmacyCard;
   }
}

@media (max-width: 767.98px) {
   .pharmacy_selection {
      height: 225px;
      justify-content: center;
      grid-area: pharmacyCard;
      width: 100%;
   }

   .pharmacy_card {
      text-align-last: center;
   }
}
